@import '~select2';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

select {
    background-color: transparent;
    color: white;
    border: 1px solid #2d3748;
    padding: 8px;
    border-radius: 4px;

}

option {
    background-color: #1a202c; /* Fondo oscuro */
    color: white; /* Texto blanco */
    border-bottom: 1px solid white; /* Línea divisoria blanca */
}

option:hover,
option:focus {
    background-color: #2d3748; /* Fondo más claro al pasar el mouse */
    color: white; /* Texto blanco */
}



@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@layer utilities {
    .animate-slide-in {
        animation: slideIn 0.5s ease-out;
    }
}


@tailwind base;
@tailwind components;
@tailwind utilities;
